*,
::before,
::after{
    box-sizing: border-box;
    border-width:0;
    border-style:solid;
    border-color:rgb(2, 2, 95);
}

/* colors */
:root {  
    color-scheme: light dark;
    --text-color-light:rgb(255, 255, 255);
    --text-color-dark:white;
    --bg-color-light:white;
    --bg-color-dark:#0c0a09;
    --primary-color-light:rgb(33, 37, 249);
    --primary-color-dark:rgb(9, 44, 186);
}